* {
  padding: 0;
  margin: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.hide {
  visibility: hidden;
}

#screen {
  height: auto;
  width: 100%;
}

#myntra {
  height: auto;
  width: 100%;
  /* border: 1px solid black; */
}

#navbar {
  position: fixed;
  top: 0;
  background-color: white;
  height: 80px !important;
  width: 100%;
  box-shadow: rgba(168, 168, 168, 0.2) 0px 2px 29px 0px;
  /* border-bottom: 1px solid rgb(237, 237, 237); */
}

#navbar > #myntra-navbar {
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

#logo {
  height: 50%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  /* border: 1px solid black; */
}

#logo > img {
  height: 100%;
  width: 100%;
}

#nav-items {
  height: 100%;
  width: 44%;
  font-size: 13px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(79, 79, 79);
  /* border: 1px solid black; */
}

#nav-items > div {
  height: 95%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 5px;
}

#nav-items > div > a {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

#nav-items > div:hover {
  border-bottom: 3px solid rgb(252, 35, 140);
  margin-bottom: -3px;
}

#nav-items > div:nth-child(6) > sup {
  padding-bottom: 10px;
  padding-left: 3px;
}

#search {
  height: 82%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search > div {
  height: 38px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(241, 241, 241);
  /* border: 1px solid black; */
}

#search > div > input {
  /* border: 1px solid black; */
  background-color: rgb(241, 241, 241);
}

#nav-others {
  height: 100%;
  width: 18%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
}

#nav-others > div {
  height: 82%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  /* border: 1px solid black; */
}

#nav-others > div > span {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 0;
}

#nav-others > div > span > a {
  text-decoration: none;
  color: black;
}

.modal-box {
  position: fixed;
  z-index: 1;
  left: 985px;
  top: 78px;
  width: 22%;
  height: 68%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* border: 1px solid black; */
}

.modal-box > .box {
  height: 30%;
  width: 85%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.modal-box > .box:nth-child(1),
.box:nth-child(2) {
  border-bottom: 1px solid rgb(214, 214, 214);
}

.modal-box > .box:nth-child(2),
.box:nth-child(3) {
  margin-top: 10px;
}

.modal-box > #welcome > h3 {
  padding-top: 8px;
}

.modal-box > #welcome > span {
  width: 100%;
  font-size: 13px;
  padding-top: 5px;
  /* border: 1px solid black; */
}

.modal-box > #welcome > #button {
  padding-top: 20px;
}

.modal-box > #welcome > #button > a > button {
  padding: 10px 24px;
  border: none;
  background: none;
  font-weight: bold;
  color: rgb(252, 35, 140);
  border: 1px solid rgb(214, 214, 214);
  cursor: pointer;
}

.modal-box > .box > span {
  font-size: 14px;
  padding-top: 5px;
}

#product-men {
  height: 129px;
  width: 98%;
  margin: auto;
  margin-top: 90px;
  /* border: 1px solid black; */
}

#product-men > #path {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

#product-men > #path > p {
  font-size: 14px;
}

#product-men > #items {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

#product-men > #items > h3 {
  font-size: 15px;
}

#product-men > #men-filters {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}

#product-men > #men-filters > #filters-main {
  width: 18%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

#product-men > #men-filters > #sort {
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  /* border: 1px solid black; */
}

#product-men > #men-filters > #sort > #sort-1 {
  width: 32%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

#product-men > #men-filters > #sort > #sort-1 > div {
  /* border: 1px solid black; */
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

#product-men > #men-filters > #sort > #sort-1 > div > i {
  padding-top: 6px;
}

#product-men > #men-filters > #sort > #sort-2 > select {
  background-image: none;
  outline: 0;
  padding: 0 10px;
  width: 220px;
  height: 38px;
  color: black;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgb(192, 192, 192);
}

#body {
  height: 80%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(229, 229, 229);
  border-right: none;
  border-left: none;
  border-bottom: none;
}

#body > #left {
  height: 100%;
  width: 18%;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

#body > #left > div {
  padding: 22px 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(229, 229, 229);
  border-right: 1px solid rgb(229, 229, 229);
}

#body > #left > #categories > h2 {
  font-size: 13px;
  margin-bottom: 15px;
}

#body > #left > #brand > h2 {
  font-size: 13px;
  margin-bottom: 15px;
}

#body > #left > #brand > #more {
  width: 60%;
  text-align: center;
  padding: 5px 0;
}

#body > #left > #brand > #more > span {
  font-size: 14px;
  color: rgb(255, 79, 108);
}

#body > #left > #color > h2 {
  font-size: 13px;
  margin-bottom: 15px;
}

#body > #left > #color > #more {
  width: 60%;
  text-align: center;
  padding: 5px 0;
}

#body > #left > #color > #more > span {
  font-size: 14px;
  color: rgb(255, 79, 108);
}

#body > #left > #discount > h2 {
  font-size: 13px;
  margin-bottom: 15px;
}

#body > #left > #categories > input,
label {
  margin-bottom: 8px;
}

#body > #left > #categories > input {
  height: 15px;
  width: 15px;
}

#body > #left > #categories > label {
  color: rgb(78, 78, 78);
  padding-left: 8px;
}

#body > #left > #brand > input,
label {
  margin-bottom: 8px;
}

#body > #left > #brand > input {
  height: 15px;
  width: 15px;
}

#body > #left > #brand > label {
  padding-left: 8px;
  color: rgb(78, 78, 78);
}

#body > #left > #color > .color-structure {
  width: auto;
  display: flex;
  align-items: center;
  line-height: 10px !important;
  /* border: 1px solid black; */
}

#body > #left > #color > .color-structure > input {
  height: 15px;
  width: 15px;
}

#body > #left > #color > .color-structure > label {
  color: rgb(78, 78, 78);
}

#body > #left > #color > .color-structure > div {
  margin: 0 10px;
}

#body > #left > #color > .color-structure > div {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
}

#body > #left > #color > .color-structure > #white {
  border: 1px solid rgb(201, 201, 201);
}

#body > #left > #color > .color-structure > label {
  padding-top: 8px;
}

#body > #left > #color > .color-structure > #black {
  background-color: black;
}
#body > #left > #color > .color-structure > #blue {
  background-color: blue;
}
#body > #left > #color > .color-structure > #white {
  background-color: white;
}
#body > #left > #color > .color-structure > #navy {
  background-color: navy;
}
#body > #left > #color > .color-structure > #green {
  background-color: green;
}
#body > #left > #color > .color-structure > #grey {
  background-color: grey;
}
#body > #left > #color > .color-structure > #red {
  background-color: red;
}

#body > #left > #discount > input,
label {
  margin-bottom: 8px;
}

#body > #left > #discount > input {
  height: 15px;
  width: 15px;
}

#body > #left > #discount > label {
  padding-left: 8px;
  color: rgb(78, 78, 78);
}

#body > #right {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

#body > #right > .product {
  margin: 20px 28px 10px 28px;
  transition: 0.2s ease;
}

#body > #right > .product:hover {
  box-shadow: rgba(54, 53, 53, 0.24) 0px 3px 8px;
  cursor: pointer;
}

#body > #right > .product > h2,
p,
h3 {
  padding: 3px 10px;
  font-size: 15px;
}

#body > #right > .product > h2 {
  padding-top: 5px;
}

#body > #right > .product > p {
  font-size: 13px;
  color: rgb(116, 116, 116);
}

#body > #right > .product > h3 {
  font-size: 14px;
}

#body > #right > .product > .price-structure {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
}

#body > #right > .product > .price-structure > span {
  font-size: 14px;
  color: grey;
  text-decoration: line-through;
}

#body > #right > .product > .price-structure > h6 {
  color: rgb(255, 136, 93);
  padding: 0 5px;
}

/* -----OFFER---------------------- */
#offer {
  top: 370px;
  right: -124px;
  position: fixed;
  height: 50px;
  width: 22%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgb(78, 78, 78);
  transform: rotate(-90deg);
  /* border: 1px solid black; */
}
